{% extends 'layout.html'%}
{% block title%}文章{% endblock%}
{% block css %}
<link rel="stylesheet" href="{{url_for('static',filename='css/article.css')}}">
{% endblock %}
{% block content %}
    <div class="article">
        <div class="title">
            <h3>我的网站</h3>
        </div>
        <div class="article-info">
            <div class="author">
                <p>作者：Song <span>阅读量:100</span></p>
            </div>
            <div class="tag">
                <span>标签：</span>
                <a href=""><span>python</span></a>
                <a href=""><span>/ 爬虫</span></a>
            </div>
            <div class="date">
                <span>日期：</span>
                <span class="day">2017-09-25</span>
            </div>
        </div>
        <div class="content">
                <p>
                    在人生各种机缘巧合的时间点，有机会看到一些非常不错的Tutorials。一开始的想法是顺着实现一遍，然后记录在博客里给大家参考学习。但是这样直接copy似乎不大厚道，而且重复整理的工作量也很大，所以干脆开个汇总帖记录一下，以后也便于自己查找和回顾。
                    在人生各种机缘巧合的时间点，有机会看到一些非常不错的Tutorials。一开始的想法是顺着实现一遍，然后记录在博客里给大家参考学习。但是这样直接copy似乎不大厚道，而且重复整理的工作量也很大，所以干脆开个汇总帖记录一下，以后也便于自己查找和回顾。
                    在人生各种机缘巧合的时间点，有机会看到一些非常不错的Tutorials。一开始的想法是顺着实现一遍，然后记录在博客里给大家参考学习。但是这样直接copy似乎不大厚道，而且重复整理的工作量也很大，所以干脆开个汇总帖记录一下，以后也便于自己查找和回顾。
                    在人生各种机缘巧合的时间点，有机会看到一些非常不错的Tutorials。一开始的想法是顺着实现一遍，然后记录在博客里给大家参考学习。但是这样直接copy似乎不大厚道，而且重复整理的工作量也很大，所以干脆开个汇总帖记录一下，以后也便于自己查找和回顾。
                    在人生各种机缘巧合的时间点，有机会看到一些非常不错的Tutorials。一开始的想法是顺着实现一遍，然后记录在博客里给大家参考学习。但是这样直接copy似乎不大厚道，而且重复整理的工作量也很大，所以干脆开个汇总帖记录一下，以后也便于自己查找和回顾。
                    在人生各种机缘巧合的时间点，有机会看到一些非常不错的Tutorials。一开始的想法是顺着实现一遍，然后记录在博客里给大家参考学习。但是这样直接copy似乎不大厚道，而且重复整理的工作量也很大，所以干脆开个汇总帖记录一下，以后也便于自己查找和回顾。
                    在人生各种机缘巧合的时间点，有机会看到一些非常不错的Tutorials。一开始的想法是顺着实现一遍，然后记录在博客里给大家参考学习。但是这样直接copy似乎不大厚道，而且重复整理的工作量也很大，所以干脆开个汇总帖记录一下，以后也便于自己查找和回顾。
                    在人生各种机缘巧合的时间点，有机会看到一些非常不错的Tutorials。一开始的想法是顺着实现一遍，然后记录在博客里给大家参考学习。但是这样直接copy似乎不大厚道，而且重复整理的工作量也很大，所以干脆开个汇总帖记录一下，以后也便于自己查找和回顾。
                    在人生各种机缘巧合的时间点，有机会看到一些非常不错的Tutorials。一开始的想法是顺着实现一遍，然后记录在博客里给大家参考学习。但是这样直接copy似乎不大厚道，而且重复整理的工作量也很大，所以干脆开个汇总帖记录一下，以后也便于自己查找和回顾。
                    在人生各种机缘巧合的时间点，有机会看到一些非常不错的Tutorials。一开始的想法是顺着实现一遍，然后记录在博客里给大家参考学习。但是这样直接copy似乎不大厚道，而且重复整理的工作量也很大，所以干脆开个汇总帖记录一下，以后也便于自己查找和回顾。
                    在人生各种机缘巧合的时间点，有机会看到一些非常不错的Tutorials。一开始的想法是顺着实现一遍，然后记录在博客里给大家参考学习。但是这样直接copy似乎不大厚道，而且重复整理的工作量也很大，所以干脆开个汇总帖记录一下，以后也便于自己查找和回顾。
                    在人生各种机缘巧合的时间点，有机会看到一些非常不错的Tutorials。一开始的想法是顺着实现一遍，然后记录在博客里给大家参考学习。但是这样直接copy似乎不大厚道，而且重复整理的工作量也很大，所以干脆开个汇总帖记录一下，以后也便于自己查找和回顾。
                    在人生各种机缘巧合的时间点，有机会看到一些非常不错的Tutorials。一开始的想法是顺着实现一遍，然后记录在博客里给大家参考学习。但是这样直接copy似乎不大厚道，而且重复整理的工作量也很大，所以干脆开个汇总帖记录一下，以后也便于自己查找和回顾。
                    在人生各种机缘巧合的时间点，有机会看到一些非常不错的Tutorials。一开始的想法是顺着实现一遍，然后记录在博客里给大家参考学习。但是这样直接copy似乎不大厚道，而且重复整理的工作量也很大，所以干脆开个汇总帖记录一下，以后也便于自己查找和回顾。
                    在人生各种机缘巧合的时间点，有机会看到一些非常不错的Tutorials。一开始的想法是顺着实现一遍，然后记录在博客里给大家参考学习。但是这样直接copy似乎不大厚道，而且重复整理的工作量也很大，所以干脆开个汇总帖记录一下，以后也便于自己查找和回顾。
                    在人生各种机缘巧合的时间点，有机会看到一些非常不错的Tutorials。一开始的想法是顺着实现一遍，然后记录在博客里给大家参考学习。但是这样直接copy似乎不大厚道，而且重复整理的工作量也很大，所以干脆开个汇总帖记录一下，以后也便于自己查找和回顾。
                    在人生各种机缘巧合的时间点，有机会看到一些非常不错的Tutorials。一开始的想法是顺着实现一遍，然后记录在博客里给大家参考学习。但是这样直接copy似乎不大厚道，而且重复整理的工作量也很大，所以干脆开个汇总帖记录一下，以后也便于自己查找和回顾。
                    在人生各种机缘巧合的时间点，有机会看到一些非常不错的Tutorials。一开始的想法是顺着实现一遍，然后记录在博客里给大家参考学习。但是这样直接copy似乎不大厚道，而且重复整理的工作量也很大，所以干脆开个汇总帖记录一下，以后也便于自己查找和回顾。
                    在人生各种机缘巧合的时间点，有机会看到一些非常不错的Tutorials。一开始的想法是顺着实现一遍，然后记录在博客里给大家参考学习。但是这样直接copy似乎不大厚道，而且重复整理的工作量也很大，所以干脆开个汇总帖记录一下，以后也便于自己查找和回顾。
                    在人生各种机缘巧合的时间点，有机会看到一些非常不错的Tutorials。一开始的想法是顺着实现一遍，然后记录在博客里给大家参考学习。但是这样直接copy似乎不大厚道，而且重复整理的工作量也很大，所以干脆开个汇总帖记录一下，以后也便于自己查找和回顾。
                    在人生各种机缘巧合的时间点，有机会看到一些非常不错的Tutorials。一开始的想法是顺着实现一遍，然后记录在博客里给大家参考学习。但是这样直接copy似乎不大厚道，而且重复整理的工作量也很大，所以干脆开个汇总帖记录一下，以后也便于自己查找和回顾。
                    在人生各种机缘巧合的时间点，有机会看到一些非常不错的Tutorials。一开始的想法是顺着实现一遍，然后记录在博客里给大家参考学习。但是这样直接copy似乎不大厚道，而且重复整理的工作量也很大，所以干脆开个汇总帖记录一下，以后也便于自己查找和回顾。
                    在人生各种机缘巧合的时间点，有机会看到一些非常不错的Tutorials。一开始的想法是顺着实现一遍，然后记录在博客里给大家参考学习。但是这样直接copy似乎不大厚道，而且重复整理的工作量也很大，所以干脆开个汇总帖记录一下，以后也便于自己查找和回顾。
                    在人生各种机缘巧合的时间点，有机会看到一些非常不错的Tutorials。一开始的想法是顺着实现一遍，然后记录在博客里给大家参考学习。但是这样直接copy似乎不大厚道，而且重复整理的工作量也很大，所以干脆开个汇总帖记录一下，以后也便于自己查找和回顾。
                    在人生各种机缘巧合的时间点，有机会看到一些非常不错的Tutorials。一开始的想法是顺着实现一遍，然后记录在博客里给大家参考学习。但是这样直接copy似乎不大厚道，而且重复整理的工作量也很大，所以干脆开个汇总帖记录一下，以后也便于自己查找和回顾。
                    在人生各种机缘巧合的时间点，有机会看到一些非常不错的Tutorials。一开始的想法是顺着实现一遍，然后记录在博客里给大家参考学习。但是这样直接copy似乎不大厚道，而且重复整理的工作量也很大，所以干脆开个汇总帖记录一下，以后也便于自己查找和回顾。
                    在人生各种机缘巧合的时间点，有机会看到一些非常不错的Tutorials。一开始的想法是顺着实现一遍，然后记录在博客里给大家参考学习。但是这样直接copy似乎不大厚道，而且重复整理的工作量也很大，所以干脆开个汇总帖记录一下，以后也便于自己查找和回顾。
                    在人生各种机缘巧合的时间点，有机会看到一些非常不错的Tutorials。一开始的想法是顺着实现一遍，然后记录在博客里给大家参考学习。但是这样直接copy似乎不大厚道，而且重复整理的工作量也很大，所以干脆开个汇总帖记录一下，以后也便于自己查找和回顾。
                    在人生各种机缘巧合的时间点，有机会看到一些非常不错的Tutorials。一开始的想法是顺着实现一遍，然后记录在博客里给大家参考学习。但是这样直接copy似乎不大厚道，而且重复整理的工作量也很大，所以干脆开个汇总帖记录一下，以后也便于自己查找和回顾。
                    在人生各种机缘巧合的时间点，有机会看到一些非常不错的Tutorials。一开始的想法是顺着实现一遍，然后记录在博客里给大家参考学习。但是这样直接copy似乎不大厚道，而且重复整理的工作量也很大，所以干脆开个汇总帖记录一下，以后也便于自己查找和回顾。
                    在人生各种机缘巧合的时间点，有机会看到一些非常不错的Tutorials。一开始的想法是顺着实现一遍，然后记录在博客里给大家参考学习。但是这样直接copy似乎不大厚道，而且重复整理的工作量也很大，所以干脆开个汇总帖记录一下，以后也便于自己查找和回顾。
                    在人生各种机缘巧合的时间点，有机会看到一些非常不错的Tutorials。一开始的想法是顺着实现一遍，然后记录在博客里给大家参考学习。但是这样直接copy似乎不大厚道，而且重复整理的工作量也很大，所以干脆开个汇总帖记录一下，以后也便于自己查找和回顾。
                    在人生各种机缘巧合的时间点，有机会看到一些非常不错的Tutorials。一开始的想法是顺着实现一遍，然后记录在博客里给大家参考学习。但是这样直接copy似乎不大厚道，而且重复整理的工作量也很大，所以干脆开个汇总帖记录一下，以后也便于自己查找和回顾。
                    在人生各种机缘巧合的时间点，有机会看到一些非常不错的Tutorials。一开始的想法是顺着实现一遍，然后记录在博客里给大家参考学习。但是这样直接copy似乎不大厚道，而且重复整理的工作量也很大，所以干脆开个汇总帖记录一下，以后也便于自己查找和回顾。
                    在人生各种机缘巧合的时间点，有机会看到一些非常不错的Tutorials。一开始的想法是顺着实现一遍，然后记录在博客里给大家参考学习。但是这样直接copy似乎不大厚道，而且重复整理的工作量也很大，所以干脆开个汇总帖记录一下，以后也便于自己查找和回顾。
                    在人生各种机缘巧合的时间点，有机会看到一些非常不错的Tutorials。一开始的想法是顺着实现一遍，然后记录在博客里给大家参考学习。但是这样直接copy似乎不大厚道，而且重复整理的工作量也很大，所以干脆开个汇总帖记录一下，以后也便于自己查找和回顾。
                    在人生各种机缘巧合的时间点，有机会看到一些非常不错的Tutorials。一开始的想法是顺着实现一遍，然后记录在博客里给大家参考学习。但是这样直接copy似乎不大厚道，而且重复整理的工作量也很大，所以干脆开个汇总帖记录一下，以后也便于自己查找和回顾。
                    在人生各种机缘巧合的时间点，有机会看到一些非常不错的Tutorials。一开始的想法是顺着实现一遍，然后记录在博客里给大家参考学习。但是这样直接copy似乎不大厚道，而且重复整理的工作量也很大，所以干脆开个汇总帖记录一下，以后也便于自己查找和回顾。
                    在人生各种机缘巧合的时间点，有机会看到一些非常不错的Tutorials。一开始的想法是顺着实现一遍，然后记录在博客里给大家参考学习。但是这样直接copy似乎不大厚道，而且重复整理的工作量也很大，所以干脆开个汇总帖记录一下，以后也便于自己查找和回顾。
                    在人生各种机缘巧合的时间点，有机会看到一些非常不错的Tutorials。一开始的想法是顺着实现一遍，然后记录在博客里给大家参考学习。但是这样直接copy似乎不大厚道，而且重复整理的工作量也很大，所以干脆开个汇总帖记录一下，以后也便于自己查找和回顾。
                </p>
            </div>
    </div>
    <div class="comment">
        <form action="">
            <div class="desc">
                <p>说说你的想法吧！</p>
                <p>邮箱不会被公开，必填项已用<span> * </span>标出</p>
            </div>
            <div class="comment-content">
                <p>评论</p>
                <textarea name="comment-content" id="comment-content" cols="45" rows="8"></textarea>
            </div>
            <div class="comment-user-name">
                <p>昵称</p>
                <input type="text" placeholder="姓名或昵称" name="comment-user-name"><span>*</span>
            </div>
            <div class="comment-user-email">
                <p>邮箱</p>
                <input type="email" placeholder="邮件" name="comment-user-email"><span>*</span>
            </div>
            <div class="comment-auth-code">
                <p>验证码</p>
                <input type="验证码" name="comment-auth-code"><span>*</span>
            </div>
            <div class="comment-sumbit">
                <input type="submit" value="发表评论">
            </div>
        </form>


    </div>


{% endblock %}