<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog|白啸松</title>
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/layout.css">
    <link rel="stylesheet" href="../static/css/content.css">

</head>
<body>
    <div class="content">
        <div class="text">
            <h3>近期文章</h3>
        </div>
        <div class="photos">
            <ul>
                <li>
                    <a href="">
                        <div class="img"></div>
                        <p>文章1</p>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="img"></div>
                        <p>文章1</p>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="img"></div>
                        <p>文章1</p>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="img"></div>
                        <p>文章1</p>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="img"></div>
                        <p>文章1</p>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="img"></div>
                        <p>文章1</p>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="img"></div>
                        <p>文章1</p>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="img"></div>
                        <p>文章1</p>
                    </a>
                </li>
            </ul>
            <div class="more">
                <a href=""><p>查看更多</p></a>
            </div>
        </div>
    </div>
</body>
