{% extends 'layout.html'%}
{% block title%}文章列表{% endblock%}
{% block css %}
<link rel="stylesheet" href="{{url_for('static',filename='css/list.css')}}">
{% endblock %}
{% block content%}
<!--文章列表区域-->
    <div class="lists">
        <div class="article">
            <div class="list">
                <div class="title">
                    <h3><a href="">我的网站</a></h3>
                    <p>作者：Song <span>阅读量:100</span></p>
                </div>
                <div class="content">
                    <p>
                        在人生各种机缘巧合的时间点，有机会看到一些非常不错的Tutorials。一开始的想法是顺着实现一遍，然后记录在博客里给大家参考学习。但是这样直接copy似乎不大厚道，而且重复整理的工作量也很大，所以干脆开个汇总帖记录一下，以后也便于自己查找和回顾。
                    </p>
                    <a href=""><span>阅读全文</span></a>
                </div>
                <div class="tag">
                    <a href=""><span>python</span></a>
                    <a href=""><span>爬虫</span></a>
                </div>
            </div>
            <div class="date">
                <span class="day">24</span>
                <span class="month">2017-09</span>
            </div>
        </div>
        <div class="article">
            <div class="list">
                <div class="title">
                    <h3><a href="">我的网站</a></h3>
                    <p>作者：Song <span>阅读量:100</span></p>
                </div>
                <div class="content">
                    <p>
                        在人生各种机缘巧合的时间点，有机会看到一些非常不错的Tutorials。一开始的想法是顺着实现一遍，然后记录在博客里给大家参考学习。但是这样直接copy似乎不大厚道，而且重复整理的工作量也很大，所以干脆开个汇总帖记录一下，以后也便于自己查找和回顾。
                    </p>
                    <a href=""><span>阅读全文</span></a>
                </div>
                <div class="tag">
                    <a href=""><span>python</span></a>
                    <a href=""><span>爬虫</span></a>
                </div>
            </div>
            <div class="date">
                <span class="day">24</span>
                <span class="month">2017-09</span>
            </div>
        </div>
        <div class="article">
            <div class="list">
                <div class="title">
                    <h3><a href="">我的网站</a></h3>
                    <p>作者：Song <span>阅读量:100</span></p>
                </div>
                <div class="content">
                    <p>
                        在人生各种机缘巧合的时间点，有机会看到一些非常不错的Tutorials。一开始的想法是顺着实现一遍，然后记录在博客里给大家参考学习。但是这样直接copy似乎不大厚道，而且重复整理的工作量也很大，所以干脆开个汇总帖记录一下，以后也便于自己查找和回顾。
                    </p>
                    <a href=""><span>阅读全文</span></a>
                </div>
                <div class="tag">
                    <a href=""><span>python</span></a>
                    <a href=""><span>爬虫</span></a>
                </div>
            </div>
            <div class="date">
                <span class="day">24</span>
                <span class="month">2017-09</span>
            </div>
        </div>
        <div class="article">
            <div class="list">
                <div class="title">
                    <h3><a href="">我的网站</a></h3>
                    <p>作者：Song <span>阅读量:100</span></p>
                </div>
                <div class="content">
                    <p>
                        在人生各种机缘巧合的时间点，有机会看到一些非常不错的Tutorials。一开始的想法是顺着实现一遍，然后记录在博客里给大家参考学习。但是这样直接copy似乎不大厚道，而且重复整理的工作量也很大，所以干脆开个汇总帖记录一下，以后也便于自己查找和回顾。
                    </p>
                    <a href=""><span>阅读全文</span></a>
                </div>
                <div class="tag">
                    <a href=""><span>python</span></a>
                    <a href=""><span>爬虫</span></a>
                </div>
            </div>
            <div class="date">
                <span class="day">24</span>
                <span class="month">2017-09</span>
            </div>
        </div>
        <div class="article">
            <div class="list">
                <div class="title">
                    <h3><a href="">我的网站</a></h3>
                    <p>作者：Song <span>阅读量:100</span></p>
                </div>
                <div class="content">
                    <p>
                        在人生各种机缘巧合的时间点，有机会看到一些非常不错的Tutorials。一开始的想法是顺着实现一遍，然后记录在博客里给大家参考学习。但是这样直接copy似乎不大厚道，而且重复整理的工作量也很大，所以干脆开个汇总帖记录一下，以后也便于自己查找和回顾。
                    </p>
                    <a href=""><span>阅读全文</span></a>
                </div>
                <div class="tag">
                    <a href=""><span>python</span></a>
                    <a href=""><span>爬虫</span></a>
                </div>
            </div>
            <div class="date">
                <span class="day">24</span>
                <span class="month">2017-09</span>
            </div>
        </div>
    </div>
{% endblock%}


